@()

@main("Add User") {

  <nav class="ui inverted green menu">
    <div class="header item"> <a href="/"> Pacemaker </a> </div>
    <div class="right menu">
      <a class="item" href="/dashboard"> Dashboard</a>
       <a class="item" href="/uploadlocation">  Upload location</a>
      <a class="active item" href="/upload">  Upload Activity</a>
      <a class="item" href="/logout">  Logout</a>
    </div>
  </nav>  
  
 <section class="ui raised segment">
   <div class="ui grid">
     <aside class="ui six wide column">
       <img src="@routes.Assets.at("images/pacemaker.jpg")" class="ui medium image">
     </aside>
     <div class="ui ten wide column fluid form">
       <div class="ui stacked segment">
         <form action="/submitactivity" method="POST">
           <h3 class="ui header">Enter Activity Details: </h3>
           <div class="field">
             <label>Type</label>
             <input type="text" name="type">
           </div>
           <div class="field">
             <label>Location</label>
             <input type="text" name="location">
           </div>
         <div class="field">
             <label>Distance</label>
             <input type="number" name="distance">
           </div>           
           <button class="ui blue submit button"> Upload </button>
         </form>
       </div>
     </div>
   </div>
</section>
}
